{% extends "base.html.twig" %}
{% block title %}Création compte - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Création d'un compte utilisateur</h1>

    <form method="post">

        <div class="mb-3">
            <label>
                <input type="text" class="form-control" placeholder="Votre nom et prenom" name="nomprenom">
            </label>
        </div>

        <div class="mb-3">
            <label>
                <input type="email" class="form-control" placeholder="Votre mail" name="mail">
            </label>
        </div>

        <div class="mb-3">
            <label>
                <input type="password" class="form-control" placeholder="mot de passe" name="password">
            </label>
        </div>

        <div class="mb-3">
            <label>
                <select class="form-select" name="roles[]" multiple>
                    <option value="Administrateur">Administrateur</option>
                </select>
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}