{% extends "base.html.twig" %}
{% block title %} Accueil - {{ parent() }}{% endblock %}
{% block body %}
<h1>Accueil</h1>

    {% include "Nursery/_article_table.html.twig" with Nurseries %}

{%  endblock %}